<h2><%=h @game.name %></h2>

<h3>Players:</h3>
<% if @game.players.empty? %>
  Game currently empty.
<% else %>
  <div id="players">
    <%= render :partial => 'players/index' %>
  </div><br/>
<% end %>

<% if current_player %>
  <% if current_player.game == @game %>

    <div id="deckcontainer">
      Deck:<br/>
      <div id="deck">
        <div class="card" id="card_deck">
        ♠ ♥ ♦ ♣ ♠ ♥ ♦ ♣ ♠ ♥ ♦ ♣ ♠ ♥ ♦ ♣ ♠ ♥ ♦ ♣ ♠ ♥ ♦ ♣
        </div> 
        <%= draggable_element('card_deck', :revert=>true) %>
      </div>
      <br/>
    </div>
    
    <div id="discardcontainer">
      Discard pile:<br/>
      <div id="discard">
        <% if @game.deck.discard_top %>
          <% @card = @game.deck.discard_top %>
          <%= render :partial => 'cards/show' %>
        <% end %>
      </div>
      <div id="lastplayer">
        <% if @game.deck.discard_top %>
          Played by <%=h @game.deck.discard_top.player.name %>.
        <% end %>
      </div>
    </div>

    <%= drop_receiving_element 'discard', 
                               :accept => 'card',
                               :with => "'card_id=' + (element.id.split('_').last())",
                               :url => playcard_game_path(@game) %>
    <br/>

    Your hand:<br/>
    <div id="hand">
      <%= render :partial => 'players/hand' %>
    </div>
    <%= drop_receiving_element 'hand', 
                               :accept => 'card',
                               :with => "'card_id=' + (element.id.split('_').last())",
                               :url => drawcard_game_path(@game) %>
    <%= periodically_call_remote :url => refresh_game_path(@game), :frequency => 3 %>
  <% else %>
    You are currently playing in: 
    <%= link_to current_player.game.name, current_player.game %> |
  <% end %>

  <hr/><%= link_to "Leave", leave_players_path %>
  
<% else %>
  <% form_for @player do |f| %>
    <%= f.text_field :name %>
    <%= f.hidden_field :game_id, :value => @game.id %>
    <%= submit_tag 'Join this game' %>
  <% end %>
<% end %>

<br/>
<%= link_to "Back to games.", games_path %>

