
<% for player in @game.players %>
  <% player_id = "player_#{player.id}" %>
  
  <% if player == current_player %>
    <span class="player" id="<%=player_id%>"><%=h player.name %> (you)</span>
  <% else %>
    <span class="player" id="<%=player_id%>"><%=h player.name %> (<%=h player.hand.size%> cards)</span>
  <% end %>

  <%= drop_receiving_element player_id, 
                             :accept => 'card',
                             :with => "'card_id=' + (element.id.split('_').last()) + '&player_id=#{player.id}'",
                             :url => givecard_game_path(@game) %>

<% end %>
